{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">Welcome!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>I'm delighted to have you here, exploring my tech-focused journal.</p>
      <p>Within these digital pages, I share my personal expedition on the path to becoming a software developer. In the past, I worked in the mobile device repair industry, specializing in tasks like mobile forensic, data recovery, phone repairs, and screen refurbishment. However, my deep passion for technology has now led me to embark on a new adventure - diving into the world of software development. Together, let's uncover the intricacies of coding, craft innovative solutions, and make our mark in the ever-evolving realm of technology. </p>
      <br>
      Wishing you a truly fantastic day!<br>
      </p>


    </div>
  </div>
</div>

<hr>

{% include "footer.html" %}