{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>To whoever reads, I hope you have a great day!</p>
      <p>I'm more than happy that you decided to visit this page.
        This site will act as my journal in my tech related journey.
        For the last few years I was a tech in mobile devices repair industry.
        That included things as: </p>
      <p>Mobile forensic<br>
        Data Recovery<br>
        Phone Repairs<br>
        Screen refurbishment<br></p>
      Curently though I'm also trying to become a software developer.<br>
      </p>


    </div>
  </div>
</div>

<hr>

{% include "footer.html" %}