{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('static/img/index_banner.png')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Repairs & Guides
          </h1>
          <span class="subheading">Tech repair and maintenance for modern devices</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container containter-fluid">
  <div class="row">
    {% for post in all_posts %}
    <div class="pricing-column col-lg-4 col-md-6 mx-auto">
      <div class="card" style="width: 18rem;"">
        <img  src=" static/img/{{post.title}}.png" class="d-none card-img-top hidden-xs rounded mx-auto  d-sm-block"
        alt="Image description">

        <div class="card-body">
          <h2 class="price-text">{{post.title}}</h2>
          <p>{{post.subtitle}}</p>
          <a class="btn btn-secondary btn-sm rounded" href="{{ url_for('show_post', post_id=post.id) }}"
            type="button">Take a
            look</a>
          {% if current_user.id == 1 %}
          <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

  <hr>




  <!-- New Post -->
  {% if current_user.id == 1 %}
  <div class="clearfix">
    <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
    {% endif %}

  </div>
</div>
</div>
</div>
<hr>

{% include "footer.html" %}